/*page1*/
.content-slide .page1 p:nth-of-type(1){background:url(../images/leader.jpg) no-repeat; width:250px; height:124px;margin-bottom:10px;text-align: right}
@media screen and(-webkit-min-device-pixel-ratio:2){
.content-slide .page1 p:nth-of-type(1){background: url(../images/leaderx2.jpg)no-repeat;background-size:250px; height: 124px}}
.content-slide .page1 p:nth-of-type(2){color: #999;text-align: right;margin-bottom: 30px}

.content-slide .page1 ul{}
.content-slide .page1 ul li{margin-bottom: 30px;line-height: 2em;text-align: justify;font-size: 1.125em;}
/*page2*/
.content-slide .page2 div{}
.content-slide .page2 div ul{}
.content-slide .page2 .history1{background: url(../images/history2020.jpg)no-repeat;width: 85px;background-size:85px; height: 124px;opacity: .3;position: absolute;top:9%;right: 5%}
@media screen and(-webkit-min-device-pixel-ratio:2){
.content-slide .page2 .history1{background: url(../images/history2020x2.jpg)no-repeat;background-size:85px; height: 124px}}
.content-slide .page2 ul li{line-height: 2em;margin-bottom: 10px;font-size: 1.125em}
.content-slide .page2 .history2{background: url(../images/history1999x2.jpg)no-repeat;width: 85px;background-size:85px; height: 124px;opacity: .3;position: absolute;top:81%;right: 5%}
@media screen and(-webkit-min-device-pixel-ratio:2){
.content-slide .page2 .history2{background: url(../images/history1999x2.jpg)no-repeat;background-size:85px; height: 124px}}
.content-slide .page2 p{}
.content-slide .page2 div{}
.content-slide .page2 ul{}
.content-slide .page2 ul li{}
.content-slide .page2 ul li span{color: #999; font-weight: bold}
.content-slide .page2 ul li .red{color:#c33;font-weight: bold}
/*page3*/
.content-slide .page3{position: relative}
.content-slide .page3 div{text-align: center;margin-bottom:80px;overflow: hidden}
.content-slide .page3 div h4{position:relative;font-size:2.2em;text-align: center;margin-bottom:100px;color: #c33}
.content-slide .page3 div h4::before{display:block;content:'';width:1px;height:35px;background:#999;position:absolute;top:160%;left:50%}
.content-slide .page3 .mission p{font-size:1.2em;text-align: center;margin-bottom: 100px}
.content-slide .page3 .vision p{font-size:1.2em;text-align: center;margin-bottom: 50px}
.content-slide .page3 .goal ul{float: left;width: 300px;text-align: center}
.content-slide .page3 .goal ul li{font-size:1.2em}
.content-slide .page3 .goal ul li:nth-of-type(1){font-weight: bold;margin-bottom: 5px}
.content-slide .page3 .goal ul li:nth-of-type(2){margin-bottom:50px}
.content-slide .page3 .policy ul li{text-align: center;font-size: 1.2em;margin-bottom: 20px}
.content-slide .page3 .value ul li{font-size:1.2em;text-align: center;margin-bottom: 20px}
.content-slide .page3 .strategy ul{margin-bottom:50px;font-size: 1.2em;text-align: center}
.content-slide .page3 .strategy ul li:nth-of-type(1){font-weight: bold;margin-bottom: 20px}
.content-slide .page3 .strategy ul li{margin-bottom: 20px;overflow: hidden;text-align: justify;line-height: 1.5em}
.content-slide .page3 .strategy ul li span{color: #c33}